* {
    margin: 0;
    padding: 0;
}

header {
    padding: 10px;
    position: fixed;
    top: 0;
    width: 100%;
    height: 10%;
    background-color: #131313;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

body {
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
}

.nav-links {
    width: 50%;
    display: flex;
    align-items: center;
    list-style-type: none;
    justify-content: space-around;
}

.nav-links a {
    color: #ffffff;
    text-decoration: none;
}

p,
li {
    font-size: 1.25em;
}

li {
    list-style: none;
}

.container {
    max-width: 1400px;
    margin: auto;
}

#hero {
    padding: 1vh 0;
    margin-top: 100px;
    height: 90vh;
    background-color: #111111;
}

#nuestros-programas {
    background-color: rgb(30, 30, 30);
    color: white;
    text-align: center;
}

#nuestros-programas .container {
    padding: 150px 12px;
}

.social-media {
    width: 30vh;
    display: flex;
    align-items: center;
    gap: 5vh;
}

.card {
    background-color: #131313;
    padding: 13px;
    margin-right: 5vh;
    border-radius: 10px;
}

.card:last-child {
    margin: 0;
}

.card-title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.contacto {
    text-align: left;
    height: 25vh;
    display: flex;
    flex-direction: column;
    gap: 3vh;
}

.contacto ul {
    display: flex;
    flex-direction: column;
    gap: 1vh;
}

.horario {
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: space-around;
}

.horario h2 {
    margin-right: 1vh;
}

.horario p {
    transform: translateY(2vh);
}

.problemas h2 {
    margin-bottom: 4vh;
}

.img-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#caracteristicas {
    width: 100%;
    height: 57vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6rem;
}

#caracteristicas .container {
    margin: 0;
    height: 100%;
    width: 50%;
}

#caracteristicas .container:first-child {
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    gap: 3vh;
}

#caracteristicas .container:last-child {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2vh;
}

#caracteristicas .container h2 {
    margin-top: 10%;
    transform: translateX(-16vh);
}

#caracteristicas .container ul {
    height: 60%;
    display: flex;
    flex-direction: column;
    gap: 2vh;
}

#flyer2 {
    height: 100%;
    width: 40vh;
}

#final {
    display: flex;
    justify-content: center;
    align-items: start;
    text-align: center;
    background-color: rgb(30, 30, 30);
    color: white;
    height: 45vh;
    gap: 4vh;
}

.box {
    margin-top: 3vh;
}

footer {
    background-color: rgb(230, 230, 230);
}

footer p {
    margin: 0;
    padding: 12px;
    color: rgb(100, 100, 100);
}

@media (min-width: 850px) {
    #j-y-m {
        padding: 1vh 0;
    }

    #j-y-m .container {
        padding: 150px 0;
        display: flex;
        justify-content: space-evenly;
    }

    .problemas {
        width: 50%;
        max-width: 600px;
        text-align: initial;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .problemas h2 {
        margin-top: 0px;
    }

    #nuestros-programas .programas {
        margin-top: 3vh;
        display: flex;
        justify-content: center;
    }
}

@media (max-width: 850px) {
    #nuestros-programas .programas {
        margin-top: 3vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .card {
        margin: 0;
        margin-top: 5vh;
        width: 25vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .card:last-child {
        margin-top: 5vh;
    }

    .nav-links {
        display: none;
    }

    .nav {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
}

@media (min-width: 1200px) {
    #caracteristicas {
        background-position-x: calc(100vw - 800px);
    }
}

.carousel-image {
    width: 100%;
    flex: 0 0 auto;
}
